@import 'variables.scss';

#content {
  width: 100%;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
  height: auto;
}

#cover_wrapper {
  margin-top: 20px;
  a {
    color: $black;
  }
}

h1 {
  margin-bottom: 1vh;
  font-size: 2em;
}

#content p, h1, h3, pre {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: justify;
}

pre span {
  margin: 0;
  text-align: left;
}

#date {
  margin-top: 0;
  font-weight: 200;
}


#sidebar {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  // margin-top: 60px;
  background-color: $grey;
}

#last_posts {
  // background-color: $primary;
  color: $black;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sidebar h2 {
  font-family: 'PT Mono';
  text-align: center;
}

.post_list_item {
  background-color: $grey;
}

#categories {
  background-color: $primary;
  color: white;
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
}

#categories a {
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px;
  text-align: center;
  font-family: 'PT Mono';
  font-size: 1.5em;
}

#disqus_thread {
  margin-top: 150px;
  padding: 20px;
}

.image_caption {
  margin-top: 0px;
  color: lighten($black, 10);
  font-style: italic;
}

#tweets-box {
  padding: 10px;
}
