@import 'variables.scss';

body {
  font-family: 'Roboto';
  max-width: 100%;
}

#content {
  width: 100%;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 1vh;
}

#content p, span, h1, h3, pre {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: justify;
}

pre span {
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 1.6em;
  font-family: 'PT Mono';
  margin-top: 5vh;
}

h3::before {
  content: '# ';
  color: $primary;
}

#date {
  margin-top: 0;
  font-weight: 200;
}


#sidebar {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  background-color: #EEE;
}

#last_posts {
  // background-color: $primary;
  color: $black;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 60px;
  padding-top: 30px;
}

#sidebar h2 {
  font-family: 'PT Mono';
  text-align: center;
}

.post_list_item {
  width: auto;
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;
}

.post_list_item img {
  width: auto;
  height: 100%;
}
.post_list_item div {
  padding: 0;
  padding-left: 1vw;
  padding-right: 1vw;
}

.post_list_item h4 {
  margin-bottom: 0;
}

.post_list_item p {
  margin-top: 0;
}

#categories {
  background-color: $primary;
  color: white;
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
}

#categories a {
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px;
  text-align: center;
  font-family: 'PT Mono';
  font-size: 1.5em;
}
