@import 'variables.scss';

#home {
  display: flex;
}

#left {
  width: 70%;
}

#right {
  width: 30%;
}

.post_list_item:hover {
  background-color: $grey;
  transition: background-color .2s ease-in-out;
}
