body {
  font-family: 'Roboto';
}

#content {
  width: 60%;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 1vh;
}

p, span, h1, h3, pre {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: justify;
}

pre span {
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 1.6em;
  font-family: 'PT Mono';
  margin-top: 5vh;
}

h3::before {
  content: '# ';
}

#date {
  margin-top: 0;
  font-weight: 200;
}
