@import 'variables.scss';

h1 {
  font-family: 'PT Mono';
  font-size: 2em;
}

h1::before {
  content: '# ';
  color: $primary;
}

section {
  padding: 3vw;
  padding-top: 0;
  display: flex;
  background-color: $grey;
}

.post_list_item:hover {
  background-color: $grey;
  transition: background-color .2s ease-in-out;
}

#left {
  width: 60%;
  padding: 1vw;
  padding-top: 0;
}

#right {
  width: 40%;
  padding: 1vw;
  padding-top: 0;
}

section a {
  text-decoration: none;
}

.post {
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  transition: background-color .2s ease-in-out;
  background-color: white;
  color: $black;
  transition: transform .2s ease-in-out;
  transform: scale(1);
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.post img {
  width: 100%;
}
.post h2 {
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.post p {
  text-align: justify;
  padding: 1vw;
  margin-top: 0;
}

.post:hover {
  transition: transform .2s ease-in-out;
  transform: scale(1.05);
}

#categories {
  margin-top: 90px;
}

#last_posts {
  margin-top: 50px;
}
