@import 'variables.scss';

#content {
  width: 70%;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#post {
  width: 100%;
  max-width: 100%;
  display: flex;
}

#cover_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  img {
    width: 50%;
    height: auto;
  }
}

#summary {
  margin: auto;
  p {
    margin-left: 15px;
  }
  a {
    color: $black;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
  }
}

h1 {
  margin-bottom: 1vh;
  font-size: 2em;
}

#content {
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: justify;
}

pre span {
  margin: 0;
  text-align: left;
}

#date {
  margin-top: 0;
  font-weight: 200;
}

#sidebar {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  max-width: 30%;
  padding: 30px;
  padding-top: 0px;
}

#last_posts {
  // background-color: $primary;
  color: $black;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 50px;
}

#sidebar h2 {
  font-family: 'PT Mono';
  text-align: center;
}

.post_list_item:hover {
  background-color: $grey;
  transition: background-color .2s ease-in-out;
}

#disqus_thread {
  margin-top: 150px;
}

canvas {
  margin-top: 25px;
  margin-bottom: 25px;
}
