@import 'variables.scss';

footer {
  width: 100%;
  max-width: 100%;
  margin: 0;
  // margin-top: 50px;
  background-color: $primary;
  color: white;
  font-family: 'PT Mono';
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_social {
  margin: 1.3vw;
  font-size: 3em;
  transition: transform .2s ease-in-out;
  transform: scale(1);
}

.link_social a {
  color: white;
}

.link_social:hover {
  transition: transform .2s ease-in-out;
  transform: scale(1.2);
}

footer p {
  text-align: center;
}
