@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
}

.full_width {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.full_width img {
  max-width: 100%;
}

.button {
  text-decoration: none;
  padding: 10px;
  background-color: $primary;
  margin: 10px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  transition: background-color .1s ease-in-out;
}

.button:hover {
  transition: background-color .1s ease-in-out;
  background-color: darken($primary, 20);
}

.button i {
  margin: 10px;
}
